* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{ 
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 49);
    height: 80px; 
    color: turquoise;

}

.header-right{
    background-color: turquoise;
    color: rgb(7, 7, 49);
    height: 55px;
    padding: 10px;
    padding-left:40px ;
}
.header-left{
    display: flex;
    align-items: center;
    margin-right: 40px;

}
.header-left a{
    margin: 0 5px;
    color: turquoise;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    border-bottom: 4px solid turquoise;


}

.hero{
    height: 200px;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    background-image: url("./Assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.hero h2{
    margin-right: 40px;
    background-color: turquoise;
    color: rgb(7, 7, 49);
    margin-bottom:20px;
    padding: 5px;

}
.content-body{
    padding: 30px 60px;
}

.about-me{
    display: flex;
    margin-bottom: 35px; 
}

.about-me-text{
    border-left: 4px solid rgb(7, 7, 49);
    padding-left: 25px;
    font-size: 16px;
    color: rgb(7, 7, 49);
    width: 80%;

}
.about-me-text p{
    margin-bottom: 10px;
}

.work{
    display: flex;
    margin-bottom: 35px;
    height: 790px;
    max-width: 1500px;
}
.work-images{
    border-left: 4px solid rgb(7, 7, 49);
    padding-left: 25px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.work-image{
    border: 2px solid black;
    height: 180px;
    width: 48.5%;
    margin: 10px 0;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border-radius: 10px;
}

.work-image h3 {
    background-color: rgba(1, 1, 20, 0.6);
    color: white;
    margin-bottom:20px;
    padding: 10px 10px;
    font-size: 24px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.work-image--large {
    width: 100%;
    min-width: 100%;
    background-image: url('./Assets/moviesnme.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 48%;
}

.project-two{
    margin-right: 21px;
    background-image: url('./Assets/techblog.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.project-three{
    background-image: url('./Assets/employee-manage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-four{
    margin-right: 21px;
    background-image: url('./Assets/notetaker.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-five {
    background-image: url('./Assets/pass-generator.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contact-info{
    display: flex;
    max-width: 1500px;
}

.contact-details{
    border-left: 4px solid rgb(7, 7, 49);
    padding-left: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-details a {
    display: block;
    color:rgb(7, 7, 49);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    border-bottom: 4px solid turquoise;
    height: 40px;
}


.section-title{
    padding: 10px;
    font-size: 30px;
    color: rgb(7, 7, 49);
    min-width: 130px;
    text-align: right;
    word-wrap: break-word;
}

.section-title h1 {
    width: 130px;
    /* border: 1px solid red; */
}